# Project exclude paths
/quicktest-consumer/target/
/quicktest-provider/target/
/rabbitmq-advanced-consumer/target/
/rabbitmq-advanced-producer/target/
/spring-rabbitmq-consumer/target/
/spring-rabbitmq-provider/target/